body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  padding: 10px;
  background-color: grey;
  text-decoration: none; 
}

figcaption {
  font-size: smaller;
text-align: center
}

featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  }

  #details {
    overflow: hidden; 
  }
  
  #details div {
    float: left;
  }

  .bottom-divs {
    background-color: red;
    text-align: center;
    width: 25%;
    float: center;
}